* {
	box-sizing: border-box;
}

html {
	background-image: url(superhero.jpg);


}

background-image: {
	opacity: 0.5;
}

#buttonscontainer {
	border: solid 3px black;
	height: 90px;
	border-radius: 15px;
}

.buttonstyle {
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
	border: solid 1px blue;
	border-radius: 5px;
	background-color: black;
	color: white;
	cursor: pointer;
}

.buttonstyle:hover {
	padding: 5px;
	margin: 5px;
	font-size: 20px;
	background-color: blue;
	color: black;
}

#showgifs {
	float: left;
	margin: 10px 20px 0px 0px;
	width: 800px;
	height: 900px;
	border: solid 3px green;
}

#search {
	float: right;
	margin: 10px 0px 0px 0px;
	width: 500px;
	height: 300px;
	border: solid 3px black;
}

#searchvalue {
	margin: 5px;
	width: 450px;
	height: 25px; 
	border: solid 1px gray;
	border-radius: 5px;
}

.dyno {
	float: left;
	text-align: center;
	padding: 5px;
}

.rating {
	margin: 2px;
	border: 1px solid white;
	color:  blue;
}

.gifs {
	margin: 0px 5px 10px 5px;
	clear: both;
	width: 200px;
	height: 150px;
	cursor: pointer;
}

#responseMessage {
	margin: 0px;
	padding: 5px;
	height: 25px;
}

h3 {
	font-size: 25px;
	color: red;
}

#submitme:hover {
    background-color: blue;
    color: red;
    cursor: pointer;
}